!!!
%html
  %head
    %title Combinificator
    %link{:type => "text/css", :rel => "stylesheet", :href => "/styles.css"}
    %script{:src => "jquery.js"}
    %script{:src => "application.js"}

  %body
    #container
      = yield
