body {
	background-color: #FFF;
	font-family: Georgia, Georgia, serif; 
	font-size: 14px; 
	color: #171717; 
	text-align: center;
}

#container {
	width: 60%;
	margin: 0 20%;
}

a { color: #171717; }
h1 a { text-decoration: none; }
table td,
table th { 
	padding: 10px;
	font-size: 16px;
	vertical-align: top; 
	text-align: left;
}
table td ul {
	margin: 10px 0;
}
table.feeds {
	background: #FFF;
	margin: 13px 0 40px 0;
}
table.feeds img { 
	margin-right: 15px;
}

h1 {
	font-size: 5em;
	text-align: center;
	margin: 0;
	padding: 0 0 0 85px;
}

img.gb {
	position: absolute;
	bottom: -20px;
	width: 100px;
}

img.funnel {
	margin: -20px 0 0 0;
	width: 100px;
}

div.header { position: relative; }

h3 { 
	margin: 0;
	padding: 0 0 0 120px;;
	text-align: left;
}

h2 {
	font-size: 2em;
	margin-bottom: 0;
}

form {
	margin: 10px 0 30px 0;
}

form p {
}

div.textarea {
	position: relative;
	margin-bottom: 20px;
}

textarea, input, label { padding: 5px; font-size: 1.4em; }
button { font-size: 1.2em; }

textarea {
	width: 100%;
	height: 200px;
	border: 1px inset #EEE;
}

p { font-size: 16px; }

hr { width: 100px; height: 1px; border-width: 1px 0 0 0; }

div.url {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	white-space: nowrap;
}

div.button {
	top: 10px;
	position: relative;
	width: 200px;
	margin: 20px auto 30px auto;
	text-align: center;
}

div.button img { margin: 0 auto; }
div.button button {
	position: absolute;
	left: 35px;
	bottom: 5px;
	z-index: 1;
}

ul.images {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}

ul.images li { display: inline; }

